*~
*.bak
*.class
*.iml
*.swp
*-tmp.html
.project
.classpath
.METADATA
.settings
.nb-gradle-properties
git-modified-list.txt
nbbuild.xml
properties/
.DS_Store
.directory 
**/.gradle
**/.nb-gradle

/*.ipr
/*.iws
/*.patch
build.*.properties

build/
classes/
dist/
**nbproject**
.ivy/
.sass-cache/
.DS_Store/
*#